.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: #fff;
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
  list-style-type: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: rgb(3, 144, 191);
}
